<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <form class=" m-5" action="" method="post" th:object="${signUpForm}">
        <div >
            <label th:for="email">Email:</label>
            <input type="email" th:field="*{eMail}">
        </div>
        <div >
            <label th:for="password">*Password:</label>
            <input type="password" th:field="*{password}">
        </div>
        <div >
            <label th:for="name">*NAME:</label>
            <input type="text" th:field="*{lolName}">
        </div>
        <div>
            <input type="submit" value="회원가입">
        </div>
    </form>
</div>
</body>
</html>